# Xcode
DerivedData/
.build/

# User data
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/

# Archives
*.xcarchive

# Temporary files
*.swp
*.tmp

# App storage
*.sqlite.geminiignore
